.Main {
	height: 100%;
	width: 100%;

	font-family: "Telefon Black, Sans-Serif";

	.Content {
		width: 80%;
	}

	.MainGrid {
		height: 100%;
		max-height: 100%;
		width: 100%;

		.SideSection {
			height: 100%;
			max-height: 100%;
			background: rgb(97, 93, 93);
		}

		.MainSection {
			height: 100%;
			max-height: 100%;
			padding: 0 10px 0 10px;
			background: rgb(245, 245, 245);
		}
	}
}